@import "foundation-sites/scss/foundation";

@include foundation-typography;
@import "typography";

body.mceContentBody {
  font-family: $body-font-family;
  font-size: $global-font-size;
  color: $body-font-color;

  @include foundation-typography;
  @import "typography";
}